{% extends "layout.html" %}
{% block content %}
    <h1>Book Previews</h1>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if book.volumeInfo.imageLinks %}
                        <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="card-img-top" alt="{{ book.volumeInfo.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ book.volumeInfo.authors | join(', ') }}</h6>
                        <p class="card-text">{{ book.volumeInfo.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}